header>div {height: 100px; background: red; display: inline-block}
header>nav {height: 100px; background: blue; display: inline-block}
section>div {height: 100px; background: yellow; display: block}
footer>div {height: 100px;background: green; display: inline-block}